$felt: green;
$chalk: #ffffaa;
$red: red;
$black: black;

body {
  margin-left: 5em;
  margin-top: 1em;
}

.card.red {
  color: $red;
}

.card.black {
  color: $black;
}

.card {

  &:hover {
    border-color: yellow;
    top: -1em;
  }
  transition: 1s;
  border: solid black 1px;
  border-radius: 0.25em;
  background: white;
  float: left;
  position: absolute;
  width: 6em;
  height: 7em;

  // top left
  .label1 {
    position: absolute;
    left: 5%;
  }

  // middle
  .label2 {
    position: absolute;
    font-size: 1.5em;
    top: 40%;
    left: 30%;
  }

  // bottom right
  .label3 {
    position: absolute;
    top: 80%;
    left: 65%;
  }
}

.table {
  height: 30em;
  width: 50%;
  background: $felt;
  border-radius: 1em;

  .deck {
    height: 10em;
    position: absolute;
    margin: 1em;
  }
}
